<h2>
  Students List
</h2>

<div class="students">

  <div id="image_con" class="row">
    <div class="col" id="center_it">
        <img id="img_format" routerLink="/dashboard" src="../../assets/images/girl_face.jpg" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img src="../../assets/images/student.png" id="img_format" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

  </div>


  <div id="text_con" class="row">
    <div class="col" >
        <h2  id="center_it" routerLink="/dashboard">  Jane Doe</h2>
    </div>

    <div class="col" id="center_it">
      <h2 routerLink="/studentList"> Elon Musk </h2>
    </div>

    <div class="col" id="center_it">
      <h2> Cristiano <br> Ronaldo </h2>
    </div>

    <div class="col" id="center_it">
      <h2> Roger Federer </h2>
    </div>

    <div class="col" id="center_it">
      <h2>  Peter Parker </h2>
    </div>

  </div>

  <br>

  <div id="image_con" class="row">
    <div class="col" id="center_it">
        <img id="img_format" routerLink="/lesson" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img src="../../assets/images/student.png" id="img_format" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

  </div>


  <div id="text_con" class="row">
    <div class="col" >
        <h2  id="center_it" routerLink="/lesson"> Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2 routerLink="/studentList"> Student </h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

  </div>

  <br>

  <div id="image_con" class="row">
    <div class="col" id="center_it">
        <img id="img_format" routerLink="/lesson" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img src="../../assets/images/student.png" id="img_format" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

  </div>


  <div id="text_con" class="row">
    <div class="col" >
        <h2  id="center_it" routerLink="/lesson"> Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2 routerLink="/studentList"> Student </h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

  </div>

  <br>

  <div id="image_con" class="row">
    <div class="col" id="center_it">
        <img id="img_format" routerLink="/lesson" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img src="../../assets/images/student.png" id="img_format" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

    <div class="col" id="center_it">
      <img id="img_format" src="../../assets/images/student.png" class="rounded-circle p-4">
    </div>

  </div>


  <div id="text_con" class="row">
    <div class="col" >
        <h2  id="center_it" routerLink="/lesson"> Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2 routerLink="/studentList"> Student </h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

    <div class="col" id="center_it">
      <h2>Student</h2>
    </div>

  </div>

  <br>


</div>
