title {
  border: 2px;
}

.content{
  border-style: solid;
  padding: 2%;
    border-width: 1px;
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
  text-align: center;
}

.science_items{
    margin-left: 20%;
    margin-right: 20%;
}

.lessons{
  margin-top: 1%;
  text-align: center;
  font-size: 10px;
}

.btn-circle.btn-lg {
  text-align: center;
  width: 120px;
  height: 120px;
  padding: 10px 16px;
  font-size: 10px;
  cursor:pointer;
  font-weight: bold;
  line-height: 1.33;
  border-radius: 55px;
}


.solar{
  margin-top: 5%;
  text-align: left;
  color:red;
}

#solar_button {
  background-color: yellow;
}

#solar_button:hover {
  background-color: #000080;
  color: white;
}

#unit1_button {
  cursor: auto;
}

#unit2_button {
  cursor: auto;
}

.unit1{
  text-align: center
}

.unit2{
  text-align: right;
}
