title {
  border: 2px;
}

h2 {
  color: grey;
}

#center_it{
  text-align: center;
}

.content {
  border-style: solid;
  padding: 2%;
  border-width: 1px;
  margin-left: 20%;
  margin-right: 20%;
}

#text_con{
  cursor: pointer;
}

#img_format{
    cursor: pointer;
    margin-top: 15%;
    height: 200px;
}

.line1 {
    width: 112px;
    height: 97px;
    border-bottom: 3px solid red;
    margin-left: 25%;
    -webkit-transform:
        translateY(-20px)
        translateX(20px)
        rotate(27deg);
    position: absolute;
    /* top: -20px; */
}

h2 {
  text-align: center;
}

.science_items{
    margin-left: 20%;
    margin-right: 20%;
}

.lessons{
  margin-top: 1%;
  text-align: center;
  font-size: 10px;
}

.btn-circle.btn-lg {
  text-align: center;
  width: 120px;
  height: 120px;
  padding: 10px 16px;
  font-size: 10px;
  cursor:pointer;
  font-weight: bold;
  line-height: 1.33;
  border-radius: 55px;
}


.solar{
  margin-top: 5%;
  text-align: left;
  color:red;
}

#solar_button {
  background-color: yellow;
}

#solar_button:hover {
  background-color: #000080;
  color: white;
}

#unit1_button {
  cursor: auto;
}

#unit2_button {
  cursor: auto;
}

.unit1{
  text-align: center
}

.unit2{
  text-align: right;
}
