<p>
  science works!
</p>

<div class="content">


<div fxLayout="row" class="title">
  <h2>Science</h2>
</div>

<div class="science_items">

  <div class="solar">
    <button type="button" id="solar_button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i>SOLAR <br> SYSTEM</button>
  </div>

  <div class="unit1">
    <button type="button" id="unit1_button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i>UNIT 2 <br>(Not available yet)</button>
  </div>

  <div class="unit2">
    <button type="button" id="unit2_button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i>UNIT 3 <br>(Not available yet)</button>
  </div>

</div>

</div>
