<div class="card">
    <div class="card-header">
        <!-- topic heading -->
        <h2>Solar System</h2>
    </div>

    <div class="card-block">
        <div *ngIf="lesson$ | async as lesson">
            <div class="card-title">
                <h3>{{ lesson.name }}</h3>
            </div>

            <div *ngIf="learn; else quiz">
                <p class="card-text">{{ lesson.description }}</p>

                <button (click)="learn = !learn">Quiz!</button>
            </div>

            <ng-template #quiz>
                <ol>
                    <li *ngFor="let question of lesson.quiz">{{ question.question }}</li>
                </ol>

                <button (click)="gotoLessons(lesson) ">Submit</button>
            </ng-template>

            <div>
                <button (click)="gotoLessons(lesson)">Back</button>
            </div>
        </div>
    </div>
</div>