.center{
  text-align: center;
}

#head{
  margin:20px;
  margin-bottom: 50px;
}

#award-content{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.table thead th {
  vertical-align: middle;
}

th {
  text-align: center;
}

/*table{*/
  /*overflow-x: scroll;*/
/*}*/

/*body {*/
  /*overflow-x: hidden;*/
/*}*/

