<div id="page-content-wrapper">
  <div id="head" class="title center">
    <h1>Awards</h1>
  </div>
  <div id="award-content" class="center">
    <table class="table table-box table-responsive">
      <thead>
      <tr>
        <th>Quantity</th>
        <th>Award Type</th>
        <th>Prize Equivalet</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="text" name="quantity" placeholder="Quantity(1~100)"></td>
        <td><img src="../../assets/images/Coins-512.png" height="30" width="30"/></td>
        <td><input class="award" type="text" name="award" placeholder="Award Content"></td>
      </tr>
      <tr>
        <td><input type="text" name="quantity" placeholder="Quantity(1~100)"></td>
        <td><img src="../../assets/images/yellow-star-icon-5437.png" height="30" width="30"/></td>
        <td><input class="award" type="text" name="award" placeholder="Award Content"></td>
      </tr>

      </tbody>
    </table>
  </div>

</div>

<script>
    document.getElementsByClassName("award").defaultValue = "=";
</script>
