.title{
}

.contai {
    background-image: url("background_image.jpg");
    padding: 0px;
    margin: 0px;
}

.buttons{
  text-align: center;
  color:white;
  padding: 4%;
  font-size: 25px;
}

#header{
  text-align: center;
}

.second_row{
  margin-top: 5%;
}

#science{
    margin-right: 10%;
    background-color: rgb(58, 83, 155);
}

#math{
    background-color: rgb(219, 10, 91);
}

#arts{
  background-color: rgb(103, 65, 114);
}

#socials{
  background-color: rgb(192, 57, 43);
  margin-right: 10%;
}

.btn-primary.btn-lg{
  height: 175px;
  width: 175px;
}
