<div class="container" >

<div class="title" class="column">
  <h2 id="header">Class Atlas</h2>
  <div class="buttons">
    <div class="first_row" flex="20">
    <button routerLink="/science" id="science" type="button" class="btn btn-primary btn-lg">Science</button>
    <button id="math" type="button" class="btn btn-primary btn-lg">Math</button>
  </div>

  <div class="second_row">
    <button id="socials" type="button" class="btn btn-primary btn-lg">Socials</button>
    <button id="arts" type="button" class="btn btn-primary btn-lg">Arts</button>
    <br>
    <br>
    <br>    <br>
    <br>

  </div>
 </div>

</div>
<router-outlet></router-outlet>
